[defaults]
# Enable the following if testing ec2 dynamic inventoryu from commandline
# enable_plugins = aws_ec2
# inventory = ./plugins
host_key_checking = false 
#stdout_callback = json

# Plays will gather facts by default, which contain information about
# the remote system.
#
# smart - gather by default, but don't regather if already gathered
# implicit - gather by default, turn off with gather_facts: False
# explicit - do not gather by default, must say gather_facts: True
gathering = explicit

timeout = 60

# Turn off OK and SKIPPED tasks to show only CHANGED tasks for snow
#display_ok_hosts=false
#display_skipped_hosts=false
