---
- name: |
    Control-ID: 7.1
    Title: (L1) Ensure the vSwitch Forged Transmits policy is set to reject
    Description: Set the vSwitch Forged Transmits policy to reject for each vSwitch. Reject Forged Transmit can be set at the vSwitch and/or the Portgroup level. You can override switch-level settings at the Portgroup level.
    Rationale: If the virtual machine operating system changes the MAC address, the operating system can send frames with an impersonated source MAC address at any time. This allows an operating system to stage malicious attacks on the devices in a network by impersonating a network adaptor authorized by the receiving network. Setting forged transmissions to accept means the virtual switch does not compare the source and effective MAC addresses. To protect against MAC address impersonation, all virtual switches should have forged transmissions set to reject.
  shell: esxcli network vswitch standard policy security set -v vSwitch2 -f false
  notify: Change Required
  tags: forged
...
